/* /////////////////////////////////////////////////footer//////////////////////////////////////////////////////////////////////////// */
/*might need to change the position and dislay property of ftr class according to your html*/
.footer{
  background-color: black;
  max-width: 100%;
  margin-top: 10%;
}
.row-pad-top{
  padding-top: 4%;
  margin-left: 0;
  margin-right: 0;
}

.imglogo{
  padding-left: 28%;
  padding-top: 5%;
}
.categories h6{
  color: white;
}

.info h6{
  color: white;
}
.list{
  list-style-type: none;
  padding-top: 5%;
  padding-left: 0;
}
.list li a{
  color: white;
  text-decoration: none;

}
.list li a:hover{
  color: #787878;
}

.follow-us h6{
  color: white;
}
.social a{
  color: white;
}
.social a i{
  padding-right: 2%;
  padding-top: 2%;
}
.social a i:hover{
  color: #787878;
}
.fcr{

  padding-top: 5%;
  margin-right: 12%;

}
.fcr h5{
  color: white;
  display: block;
  margin-left: 25%;
}

/* /////////////////////////////////////////////////footer//////////////////////////////////////////////////////////////////////////// */
