<div id="banner">
  <a href="#"><img class="banner-img" src="https://cdn11.bigcommerce.com/s-9srn18to/images/stencil/original/carousel/1095/younger-than-the-sun_carousel-v2__62436.jpg?c=2" alt="Custom Image"></a>
</div>

<div id="promo">
  <div class="ctc">
    <ul class="ctul">
      <a href="#"><li><img class="citem hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-1.jpg" alt="Summer Dress">
      <p class="hide pos hov">Shop Dresses</p></li></a>

      <a href="#"><li><img class="citem hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-2.jpg" alt="Summer Dress">
      <p class="hide pos1 hov">Shop What's New</p></li></a>
      <a href="#"><li><img class="citem hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-3.jpg" alt="Summer Dress">
      <p class="hide pos2 hov">Shop Casual</p></li></a>
    </ul>

  </div>
  <div class="bn1">
    <a href="#"><img class="bitem hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---L-1.jpg" alt="Summer">
      <p class="hide posb1 hov">Shop for Women</p></a>

  </div>
  <div class="ctc1">
    <ul class="ctul1">
      <a href="#"><li><img class="citem1 hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-4.jpg" alt="Summer Dress">
      <p class="hide pos3 hov">Shop All</p></li></a>
      <a href="#"><li><img class="citem1 hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-5.jpg" alt="Summer Dress">
      <p class="hide pos4 hov">Shop Denim</p></li></a>
    </ul>

  </div>
  <div class="bn2">
    <a href="#"><img class="bitem1 hv" src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---L-2.jpg" alt="Summer Dress">
    <p class="hide posb2 hov">Shop Hotter Than Sun</p></a>

  </div>
</div>

  <div class="newsletter">
    <img class="ml" src="images/msg.png" alt="MAIL">
    <h5>STAY UP TO DATE</h5>
    <form class="/mail" action="index.html" method="post">
      <input type="email" name="mail" value="">
      <button type="submit" name="Send">Subscribe</button>
    </form>

  </div>
