<div id="banner">
  <a href="/shop-younger-than-sun"><img class="banner-img" src="https://cdn11.bigcommerce.com/s-9srn18to/images/stencil/original/carousel/1095/younger-than-the-sun_carousel-v2__62436.jpg?c=2" alt="Custom Image"></a>
</div>



<div class="promo">
  <div class="row row-pad">
    <div class="col-lg-4 col-md-4 col-sm-4  colil">
      <a href="/dresses"><img class="imgcard " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-1.jpg" alt="Summer Dress">
        <div class="ttag pos1 hide">
          Shop Dresses
        </div></a>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4  colil">
      <a href="/whats-new"><img class="imgcard " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-2.jpg" alt="Summer Dress">
        <div class="ttag pos2 hide">

          Shop What's New
        </div></a>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4  colil">
      <a href="/casual "><img class="imgcard " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-3.jpg" alt="Summer Dress">
        <div class="ttag pos3 hide">

          Shop Casual
        </div></a>


    </div>
  </div>
  <div class="row row-pad">
    <div class="col-lg-12 col-md-12 col-sm-12 colil">
      <a href="/women"><img class="img-sm-ban " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---L-1.jpg" alt="Summer">
        <div class="ttag pos4 hide">

          Shop for Women
        </div></a>


    </div>
  </div>
  <div class="row row-pad">
    <div class="col-lg-6 col-md-6 col-sm-6  colil">
      <a href="/shop-all"><img class="imgcard-2 " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-4.jpg" alt="Summer Dress">
        <div class="ttag pos5 hide">

          Shop All
        </div></a>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6  colil">
      <a href="/denim"><img class="imgcard-2 " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---CTA-5.jpg" alt="Summer Dress">
        <div class="ttag pos6 hide">

          Shop Denim
        </div></a>

    </div>
  </div>
  <div class="row row-pad">
    <div class="col-lg-12 col-md-12 col-sm-12  colil">
      <a href="/shop-younger-than-sun"><img class="img-sm-ban " src="https://cdn11.bigcommerce.com/s-9srn18to/content/img/homepage/YOUNGER-THAN-THE-SUN---WEEK-2---L-2.jpg" alt="Summer Dress">
        <div class="ttag pos7 hide">

          Shop Younger Than Sun
        </div></a>

    </div>
  </div>



  <div class="newsletter">
      <div class="row rowp">
        <div class="col-lg-6 col-md-12 col-sm-12 ">
          <i class="fas fa-envelope fa-2x"></i> <span>STAY UP TO DATE</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 ">
          <form class="fom" action="/mail" method="post">
            <input type="email" name="" value="" placeholder="example@gmail.com">
            <button type="submit" name="button">Submit</button>
          </form>
        </div>
      </div>
  </div>



  </div>
