<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cart.css">
    <title>Cart</title>
    <%- include("navbar.ejs") -%>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <div class="main-body">
      <div class="row element">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1>Cart</h1>
          <hr class="line">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>Cart Element</p>
        </div>
        <div class="col">
          <form>
            <button class="btn btn-outline-dark" type="submit">Check Out</button>
            </form>
        </div>

      </div>



    </div>
  </body>
  <footer>
    <%- include("footer.ejs") -%>
  </footer>
</html>
