<div class="ftr">
  <div class="imgf">
    <a href="#"><img src="images/Versache1.jpg" alt="LOGO"></a>

  </div>
  <div class="social">
    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
    <a href="#"><i class="fab fa-pinterest-square fa-2x"></i></a>

  </div>
  <div class="fus">
    <h6>Follow Us</h6>
  </div>

  <div class="cat">
    <h6>CATEGORIES</h6>
    <ul>
      <li><a href="#">WHAT'S NEW</a></li>
      <li><a href="#">WOMEN</a></li>
      <li><a href="#">DRESSES</a></li>
      <li><a href="#">CLASSIC</a></li>
      <li><a href="#">CURVE</a></li>
      <li><a href="#">CAMPAIGN</a></li>
    </ul>

  </div>
  <div class="inf">
    <h6>Versache Traders</h6>
    <ul>
      <li><a href="#">Shipping & Returns</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Work With Us</a></li>
      <li><a href="#">Gift Certificate</a></li>
      <li><a href="#">Journal</a></li>
    </ul>

  </div>
  <div class="cr">
    <h5>©VERSACHE MUMBAI, MAHARASHTRA  ALL RIGHTS RESERVED  </h5>
  </div>
</div>
