<div class="footer">
  <div class="row row-pad-top">
    <div class="col-lg-4 col-md-4 ">
      <a href="/home"><img class="imglogo" src="images/Versache1.jpg" alt="LOGO"></a>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="categories">
            <h6>CATEGORIES</h6>
            <ul class="list">
              <li><a href="/whats-new">WHAT'S NEW</a></li>
              <li><a href="/women">WOMEN</a></li>
              <li><a href="dresses">DRESSES</a></li>
              <li><a href="/classic">CLASSIC</a></li>
              <li><a href="/curve">CURVE</a></li>
              <li><a href="/campaign">CAMPAIGN</a></li>
            </ul>

          </div>
        </div>
        <div class="col-lg-6 col-md-4">
          <div class="info">
            <h6>Versache Traders</h6>
            <ul class="list">
              <li><a href="#">Shipping & Returns</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Work With Us</a></li>
              <li><a href="#">Gift Certificate</a></li>
              <li><a href="#">Journal</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="follow-us">
        <h6>Follow Us</h6>
      </div>
      <div class="social">
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
        <a href="#"><i class="fab fa-pinterest-square fa-2x"></i></a>

      </div>

    </div>

    </div>
    <div class="row row-pad-top ">
      <div class="col-lg-12 fcr">
        <h5>©VERSACHE MUMBAI, MAHARASHTRA  ALL RIGHTS RESERVED  </h5>
      </div>
    </div>
  </div>
