<div id="ttbar">
  <div class="navbb">
    <div class="row ms">
      <div class="col-md-1 col-sm-1 d-none d-sm-block d-md-block d-lg-none position-relative">
        <i class="fas fa-bars position-absolute top-50 start-50 translate-middle fa-2x" onclick="openNav()"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <a href="/home"><img class="header-brand" src="images/Versache1.jpg" alt=""></a>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-5">
        <div class="nav-lf ">
        <a href="/login" class="spn"><img class="imgh" src="images/user.png" alt="signup icon">  Sign in</a>
        <a class="spn1"><img class="imgh" src="images/kart.png" alt="Cart">  Cart</a>
        </div>
      </div>
    </div>




<div class="row">
  <div class="col-lg-12 d-none d-lg-block d-xl-block">
    <div class="hditm ">
      <a class="itme" href="/whats-new">What's New</a>
      <a class="itme" href="/women">Women</a>
      <a class="itme" href="/dresses">Dresses</a>
      <a class="itme" href="/classic">Classic</a>
      <a class="itme" href="/Curve">Curve</a>
      <a class="itme" href="/campaign">Campaign</a>
    </div>


  </div>
</div>
<div class="sidenav" id="mySidenav">
  <a class="navc" href="javascript:void(0)" onclick="closeNav()"><i class="fas fa-times"></i></a>
  <a class="itme" href="/whats-new">What's New</a>
  <a class="itme" href="/women">Women</a>
  <a class="itme" href="/dresses">Dresses</a>
  <a class="itme" href="/classic">Classic</a>
  <a class="itme" href="/Curve">Curve</a>
  <a class="itme" href="/campaign">Campaign</a>

</div>

  </div>
</div>
