<div id="ttbar">
  <div class="navbb">
    <div class="bar">
    <a href="#"><img class="header-brand" src="images/Versache1.jpg" alt=""></a>
    </div>
    <div class="bar">
      <img class="sup" src="images/user.png" alt="signup icon"><a class="spn">SignUp</a>
      <img class="cart" src="images/kart.png" alt="Cart"><a class="spn1">Cart</a>
    </div>


  <div class="nav-b lgmg">
    <a class="itme" href="#">What's New</a>
    <a class="itme" href="#">Women</a>
    <a class="itme" href="#">Dresses</a>
    <a class="itme" href="#">Classic</a>
    <a class="itme" href="#">Curve</a>
    <a class="itme" href="#">Campaign</a>



</div>

  </div>
</div>
