<header>
  <div class="bar">
    <img class="header-brand" src="images/Versache1.jpg" alt="">
    <img class="sup" src="images/user.png" alt="signup icon"><a class="spn">SignUp</a>
    <img class="cart" src="images/kart.png" alt="Cart"><a class="spn1">Cart</a>

  </div>

</header>
<section>
  <div class="nav-b">
    <a class="itme" href="#">What's New</a>
    <a class="itme" href="#">Women</a>
    <a class="itme" href="#">Dresses</a>
    <a class="itme" href="#">Classic</a>
    <a class="itme" href="#">Curve</a>
    <a class="itme" href="#">Campaign</a>


  </div>
</section>
