<div id="ttbar">
  <div class="navbb">
    
    <div class="bar">
    <a href="/home"><img class="header-brand" src="images/Versache1.jpg" alt=""></a>
    </div>
    <div class="bar">
      <img class="sup" src="images/user.png" alt="signup icon"><a href="/login" class="spn">Sign in</a>
      <img class="cart" src="images/kart.png" alt="Cart"><a class="spn1">Cart</a>
    </div>


  <div class="nav-b lgmg">
    <a class="itme" href="/whats-new">What's New</a>
    <a class="itme" href="/women">Women</a>
    <a class="itme" href="/dresses">Dresses</a>
    <a class="itme" href="/classic">Classic</a>
    <a class="itme" href="/Curve">Curve</a>
    <a class="itme" href="/campaign">Campaign</a>



</div>

  </div>
</div>
