<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <script src="https://kit.fontawesome.com/6b53d2d234.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script type="text/javascript" src="script/hed.js">

    </script>
    <script type="text/javascript" src="script/passValidate.js">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/signup.css">
    <script type="text/javascript">
      if(<%=ErrorMsg%>){
        alert("Email already registered");
      }else{
        console.log("welcome")
      }
    </script>
    <%- include("navbar") -%>
  </head>
  <body>

    <div class="container">
      <div class="">
        <h1>NEW ACCOUNT</h1>
      </div>
      <div class="">
        <form name="supform" class="form" action="/signup" method="post">



          <div class="row">
            <div class="col-lg-6 col-md-12 col-md-12 ">
              <!-- signupdetailside1 -->
              <label for="">First Name :</label>
              <br>
              <input class="form-control wdt" type="text" name="fname" value="" required>
            </div>
            <div class="col-lg-6 col-md-12 col-md-12">
              <!-- signupdetailside1 -->
              <label for="">Last Name :</label>
              <br>
              <input class="form-control wdt" type="text" name="lname" value="" required>
            </div>
            </div>

              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                  <label for="">Email :</label>
                  <br>
                  <input class="form-control wdt" type="text" name="email" value="" required>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <label for="">Password :</label>
                  <br>
                  <input  class="form-control wdt" type="password" name="pass" value="" required oninput="form.cpass.pattern = escapeRegExp(this.value)" minlength="8">
                </div>
              </div>


              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                  <label for="">Confirm Password :</label>
                  <br>
                  <input  class="form-control wdt" type="text" name="cpass" value="" required >
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <label for="">Phone Number :</label>
                  <br>
                  <input class="form-control wdt" type="text" name="phone" value="" required maxlength="10">
                </div>
              </div>



              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                  <label for="">Address Line 1 :</label>
                  <br>
                  <input class="form-control wdt" type="text" name="add1" value="" placeholder="" required>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <label for="">Address Line 2 :</label>
                  <br>
                  <input class="form-control wdt" type="text" name="add2" value="" placeholder="" required>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                  <label for="">City :</label>
                  <br>
                  <input class="form-control wdt" type="text" name="city" value="" required>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <label for="">Country:</label>
                  <br>
                  <div class="dropdown">
                    <select id="country" class="form-select" name="country" required>
                        <option value="">COUNTRY</option>
                      <option value="INDIA">INDIA</option>
                      <option value="USA">USA</option>
                      <option value="AUSTRALIA">AUSTRALIA</option>
                      <option value="CHINA">CHINA</option>
                    </select>

                  </div>

                </div>
              </div>


              <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 " required>
                  <label for="">State:</label>
                  <br>
                  <div class="dropdown">
                    <select id="state" class="form-select" name="state" required>
                      <option value="">STATE</option>
                      <option value="MAHARASHTRA">MAHARASHTRA</option>
                      <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                      <option value="MP">MP</option>
                      <option value="TELANGANA">TELANGANA</option>
                    </select>

              </div>

                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <label for="">Zip Code :</label>
                  <br>
                  <input class="form-control wdt" type="text" name="zipc" value="" maxlength="6" required>
                </div>
              </div>
                <div class="sbn">
                    <button class="btt btn btn-dark btn-lg" type="submit" name="button">Sign up</button>
                </div>

        </form>

      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
  <footer >
    <%- include("footer") -%>
  </footer>
</html>
