/* /////////////////////////////////////////////////////headernavbarcss////////////////////////////////////////////////////////////// */
.navbb {
  position: relative;
  background-color: white;
  height: 8.375rem;
  max-width: 100%;
}

.nav-b {
  position: relative;
  left: 29rem;
  top: 1rem;
  display: inline-block;
}

#ttbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 1.2rem;
  z-index: 1;
}
.itme {
  color: black;
  font-size: 1.2rem;
  padding-right: 2.2rem;
  text-decoration: none;
}

.header-brand {
  position: relative;
  top: 1rem;
  left: 1.2rem;
  max-width: 15rem;
  cursor: pointer;
}

.sup {
  margin-top: 1.9rem;
  max-width: 1.6rem;
  position: relative;
  left: 63rem;
  cursor: pointer;
}

.bar {
  display: inline-block;
}
.lgmg {
  position: absolute;
  top: 6rem;
}
.spn {
  position: relative;
  left: 64rem;
  top: 1rem;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.cart {
  max-width: 1.9rem;
  margin-top: 1.7rem;
  position: relative;
  left: 66rem;
  cursor: pointer;
}

.spn1 {
  position: relative;
  left: 67rem;
  top: 1rem;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
/* /////////////////////////////////////////////////////headernavbarcss////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////cviewmiddle//////////////////////////////////////////////////////////////////////////// */
.container{
  width: 100%;
  margin-top: 10.938rem;
  position: relative;

}
.container h1{
  font-size:1.5rem;
}
/* /////////////////////////////////////////////////aside//////////////////////////////////////////////////////////////////////////// */
span{
  margin-left: 0.5rem;
}
aside{
  width:20rem;
  position: relative;
}

.siner{
  margin-top: 1.6rem;
  width: 50%;
}
.r2{
  margin-top: 1rem;
}
.ps{
  padding-left: 1.438rem;
}

.size h5{
  margin-top: 2.375rem;
}

.ratng h5{
  margin-top: 3rem;
}

.stars{
  margin-top: 2rem;
}
.stars a{
  color: black;
  text-decoration: none;
}
/* /////////////////////////////////////////////////aside//////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////main//////////////////////////////////////////////////////////////////////////// */
.cd{
  width: 18rem;
  border: none;
}
.products{
  padding-top: 1.875rem;
}







/* /////////////////////////////////////////////////main//////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////footer//////////////////////////////////////////////////////////////////////////// */

.ftr {
  width: 100%;
  height: 25rem;
  background-color: black;
  position: relative;
  top: 160rem;
}

.imgf {
  position: absolute;
  top: 5rem;
  left: 16rem;
}
.social{
  color: white;
  display: inline-block;
  position: absolute;
  top: 7rem;
  left: 69.8rem;

}
.social a i{
  padding-left: 1.5rem;

}
.social a{
  color: white;
}
.social a:hover{
  color: #a8a4a4;
}
.fus h6{
  color: white;
}
.fus{
  position: absolute;
  top: 4rem;
  left: 71.4rem;
}
.cat h6{
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.cat ul {
  list-style-type: none;
}
.cat ul li{
  color: white;
  padding-bottom: 0.3rem;
}
.cat ul li a:hover{
  color: #a8a4a4;
}
.cat ul li:first-child{
  margin-top: 1.2rem;
}
.cat{
  position: absolute;
  top: 4rem;
  left: 55rem;
}
.cat ul li a{
  color: white;
  text-decoration: none;
}

.inf h6{
  color: white;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.inf ul li{
  list-style-type: none;
}
.inf ul li a{
  color: white;
  text-decoration: none;
}
.inf{
  position: absolute;
  top: 4rem;
  left: 40rem;
}
.inf ul li{
  margin-bottom: 0.3rem;
}
.inf ul li a:hover{
  color: #a8a4a4;
}
.cr h5{
  color: white;
  font-size: 1rem;
}
.cr{
  position: absolute;
  top: 23rem;
  left: 20rem;
}
/* /////////////////////////////////////////////////footer//////////////////////////////////////////////////////////////////////////// */
