p {
  font-size: 1rem;
}
/*///////////////////exp////////////////////*/

.fst{
  height:6rem;
}

.hditm{
  display: inline-block;
  margin-left: 28%;

}
.hd{
  display: none;
}
.nav-lf{
  display: inline-block;
  /* margin-left: 30rem;
  margin-top: 2.125rem; */
  margin-top: 5%;
  margin-left: 55%;
}
.nav-lf a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding-left: 0.8rem;
}
.nav-lf a:hover{
  color: #b5b5b5;
}
.ms{
  height:6rem;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 7.75rem;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.563rem;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #b5b5b5;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navc{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media only screen and (max-width:950px){
  .nav-lf{
    margin-top: 10%;
    margin-left: 40%;
  }
}
@media only screen and (max-width:992px){
  .nav-lf{
    margin-top: 8%;
    margin-left: 47%;
  }
}
@media only screen and (max-width:750px){
  .nav-lf{
    margin-top: 10%;
    margin-left: 32%;
  }
}
@media only screen and (max-width:690px){
  .nav-lf{
    margin-top: 12%;
    margin-left: 30%;
  }
}
@media only screen and (max-width:635px){
  .nav-lf{
    display: none;
  }
}
.fas{
  margin-left: 0.563rem;
}
/*///////////////////exp////////////////////*/
.navbb {
  position: relative;
  background-color: white;
  height: 8.375rem;
  max-width: 100%;
}

.nav-b {
  position: relative;
  left: 29rem;
  top: 1rem;
  display: inline-block;
}

#ttbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 1.2rem;
  z-index: 1;
}

.itme {
  color: black;
  font-size: 1.2rem;
  padding-right: 2.2rem;
  text-decoration: none;
}

.header-brand {
  position: relative;
  top: 1rem;
  left: 1.2rem;
  max-width: 15rem;
  cursor: pointer;
}

.imgh{
  height: 1.8rem;
  width: 1.8rem;
}


.lgmg {
  position: absolute;
  top: 6rem;
}







#banner {
  margin-top: 8rem;
  cursor: pointer;
  position: absolute;
}

.banner-img {
  max-width: 100%;
}

/* promo */
#promo {
  margin-top: 1.2rem;
}

.card {
  max-width: 18rem;
}

.ctc ul li {
  display: inline;
}

.citem {
  max-width: 80%;
}

.ctc {
  width: 65%;
  position: absolute;
  top: 55rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ctul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bn1 {
  width: 65%;
  height: 100rem;
  position: absolute;
  top: 119rem;
  left: 52%;
  transform: translate(-50%, -50%);
}

.bitem {
  max-width: 90.5%;
  max-height: 50%;
}

.ctc1 ul li {
  display: inline;
}

.ctc1 {
  width: 65%;
  position: absolute;
  top: 113rem;
  left: 49.8%;
  transform: translate(-50%, -50%);
}

.ctul1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.citem1 {
  max-width: 88%;
}

.bn2 {
  width: 65%;
  /* height: 100rem; */
  position: absolute;
  top: 145rem;
  left: 52%;
  transform: translate(-50%, -50%);
}

.bitem1 {
  max-width: 90.5%;
}

.pos {
  position: absolute;
  left: 6.8rem;
  bottom: 12rem;
  color: black;
}

.pos1 {
  position: absolute;
  left: 26rem;
  bottom: 12rem;
  color: black;
}

.pos2 {
  position: absolute;
  left: 47rem;
  bottom: 12rem;
  color: black;
}

.posb1 {
  position: absolute;
  left: 23rem;
  bottom: 87rem;
  color: black;
}

.pos3 {
  position: absolute;
  left: 14rem;
  bottom: 19rem;
  color: black;
}

.pos4 {
  position: absolute;
  left: 42rem;
  bottom: 19rem;
  color: black;
}

.posb2 {
  position: absolute;
  left: 24rem;
  bottom: 9rem;
  color: black;
}

.hide {
  display: none;
}

.hv:hover+.hide {
  display: block;
}

.hov:hover+.hv {
  opacity: 0.6;
}

.hv {
  opacity: 1;
  cursor: pointer;
}

.hv:hover {
  opacity: 0.6;
}

/* newsletter */
.newsletter {
  max-width: 59.2%;
  height: 9rem;
  background-color: #c4a173;
  position: relative;
  top: 157rem;
  left: 18.4rem;
}

.ml {
  max-width: 6%;
  position: relative;
  left: 8rem;
  top: 3rem;
}

.newsletter input {
  position: absolute;
  left: 33rem;
  bottom: 3.4rem;
}

h5 {
  position: relative;
  left: 13rem;
  font-size: 2rem;
}

.newsletter button {
  position: absolute;
  left: 46rem;
  bottom: 3.4rem;
}

/* footer */
.ftr {
  width: 100%;
  height: 25rem;
  background-color: black;
  position: relative;
  top: 160rem;
}

.imgf {
  position: absolute;
  top: 5rem;
  left: 16rem;
}
.social{
  color: white;
  display: inline-block;
  position: absolute;
  top: 7rem;
  left: 69.8rem;

}
.social a i{
  padding-left: 1.5rem;

}
.social a{
  color: white;
}
.social a:hover{
  color: #a8a4a4;
}
.fus h6{
  color: white;
}
.fus{
  position: absolute;
  top: 4rem;
  left: 71.4rem;
}
.cat h6{
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.cat ul {
  list-style-type: none;
}
.cat ul li{
  color: white;
  padding-bottom: 0.3rem;
}
.cat ul li a:hover{
  color: #a8a4a4;
}
.cat ul li:first-child{
  margin-top: 1.2rem;
}
.cat{
  position: absolute;
  top: 4rem;
  left: 55rem;
}
.cat ul li a{
  color: white;
  text-decoration: none;
}

.inf h6{
  color: white;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.inf ul li{
  list-style-type: none;
}
.inf ul li a{
  color: white;
  text-decoration: none;
}
.inf{
  position: absolute;
  top: 4rem;
  left: 40rem;
}
.inf ul li{
  margin-bottom: 0.3rem;
}
.inf ul li a:hover{
  color: #a8a4a4;
}
.cr h5{
  color: white;
  font-size: 1rem;
}
.cr{
  position: absolute;
  top: 23rem;
  left: 20rem;
}
