html,
body {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
.container{
  padding-top: 4rem;
}
.title{
  padding-top: 1rem;
  padding-left: 1.5rem;
}
.frm{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}
.frm label{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.frm button{
  margin-top: 1rem;
}
.fom{
  padding-left: 7.313rem;
  padding-top: 1.313rem;
}
.fom a{
  padding-left: 1rem;
  position: relative;
  top: 0.5rem;
  color: black;
}
.fom a:hover{
  color:#4f4d4d;
}

.msg{
  background-color: #e3e3e3;

}
.tnc{
  padding-top: 1.5rem;
  padding-left: 2.125rem;
}
.itml{
  padding-left: 2.125rem;
  padding-top: 0.375rem;
}

.lst{
  padding-left: 1.688rem;
}
.btt{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;

    margin-bottom: 1.75rem;
    margin-top: 0;

}
.btt:hover{
  background-color: #4f4d4d;
}
.btnl{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  margin-left: 7.5rem;
}
.col-md-12{
  padding-top: 1rem;
}
/* /////////////////////////////////////////////////////headernavbarcss////////////////////////////////////////////////////////////// */
.navbb {
  position: relative;
  background-color: white;
  height: 8.375rem;
  max-width: 100%;
}

.nav-b {
  position: relative;
  left: 29rem;
  top: 1rem;
  display: inline-block;
}

#ttbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 1.2rem;
  z-index: 1;
}
.itme {
  color: black;
  font-size: 1.2rem;
  padding-right: 2.2rem;
  text-decoration: none;
}

.header-brand {
  position: relative;
  top: 1rem;
  left: 1.2rem;
  max-width: 15rem;
  cursor: pointer;
}

.sup {
  margin-top: 1.9rem;
  max-width: 1.6rem;
  position: relative;
  left: 63rem;
  cursor: pointer;
}

.bar {
  display: inline-block;
}
.lgmg {
  position: absolute;
  top: 6rem;
}
.spn {
  position: relative;
  left: 64rem;
  top: 1rem;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.cart {
  max-width: 1.9rem;
  margin-top: 1.7rem;
  position: relative;
  left: 66rem;
  cursor: pointer;
}

.spn1 {
  position: relative;
  left: 67rem;
  top: 1rem;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
/* /////////////////////////////////////////////////////headernavbarcss////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////footer////////////////////////////////////////////////////////////// */
.ftr{
  position: absolute;
  bottom: 0;
  top: 43.75rem;
  left: 0;
  display: flex;
  background-color: black;
  width: 100%;
  height: 25rem;

}
.imgf {
  position: absolute;
  top: 5rem;
  left: 16rem;
}

.social{
  color: white;
  display: inline-block;
  position: absolute;
  top: 7rem;
  left: 69.8rem;

}
.social a i{
  padding-left: 1.5rem;

}
.social a{
  color: white;
}
.social a:hover{
  color: #a8a4a4;
}

.fus h6{
  color: white;
}
.fus{
  position: absolute;
  top: 4rem;
  left: 71.4rem;
}
.cat h6{
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.cat ul {
  list-style-type: none;
}
.cat ul li{
  color: white;
  padding-bottom: 0.3rem;
}
.cat ul li a:hover{
  color: #a8a4a4;
}
.cat ul li:first-child{
  margin-top: 1.2rem;
}
.cat{
  position: absolute;
  top: 4rem;
  left: 55rem;
}
.cat ul li a{
  color: white;
  text-decoration: none;
}
.inf h6{
  color: white;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.inf ul li{
  list-style-type: none;
}
.inf ul li a{
  color: white;
  text-decoration: none;
}
.inf{
  position: absolute;
  top: 4rem;
  left: 40rem;
}
.inf ul li{
  margin-bottom: 0.3rem;
}
.inf ul li a:hover{
  color: #a8a4a4;
}
.cr h5{
  color: white;
  font-size: 1rem;
}
.cr{
  position: absolute;
  top: 23rem;
  left: 33rem;
}
