body{
  margin-top: 12rem;
}

.frm{
  margin-top: 6%;
  margin-left: 3%;
}

.btnl{
  padding-left: 15%;
  padding-right: 15%;

}
.aref{
  padding-left: 5%;
  color: black;
  text-decoration: none;
}
.aref:hover{
  color:#787878;
}

.form label{
  margin-bottom: 2%;
}
.msg{
  background-color: #dbdbdb;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.btt:hover{
  background-color: #616161;
}


/*///////////////////////////////////////////////////////////////////////navbar////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////navbar////////////////////////////////////////////////////*/
/*///////////////////exp////////////////////*/

.fst{
  height:6rem;
}

.hditm{
  display: inline-block;
  margin-left: 28%;

}
.hd{
  display: none;
}
.nav-lf{
  display: inline-block;
  /* margin-left: 30rem;
  margin-top: 2.125rem; */
  margin-top: 5%;
  margin-left: 55%;
}
.nav-lf a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding-left: 0.8rem;
}
.nav-lf a:hover{
  color: #b5b5b5;
}
.ms{
  height:6rem;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 7.75rem;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.563rem;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #b5b5b5;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navc{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media only screen and (max-width:950px){
  .nav-lf{
    margin-top: 10%;
    margin-left: 40%;
  }
}
@media only screen and (max-width:992px){
  .nav-lf{
    margin-top: 8%;
    margin-left: 47%;
  }
}
@media only screen and (max-width:750px){
  .nav-lf{
    margin-top: 10%;
    margin-left: 32%;
  }
}
@media only screen and (max-width:690px){
  .nav-lf{
    margin-top: 12%;
    margin-left: 30%;
  }
}
@media only screen and (max-width:635px){
  .nav-lf{
    display: none;
  }
}
.fas{
  margin-left: 0.563rem;
}
/*///////////////////exp////////////////////*/
.navbb {
  position: relative;
  background-color: white;
  height: 8.375rem;
  max-width: 100%;
}

.nav-b {
  position: relative;
  left: 29rem;
  top: 1rem;
  display: inline-block;
}

#ttbar {
  position: fixed;
  width: 100%;
  top: 0;

  z-index: 1;
}

.itme {
  color: black;
  font-size: 1.2rem;
  padding-right: 2.2rem;
  text-decoration: none;
}
.itme:hover{
  color: #b5b5b5;
}
.header-brand {
  position: relative;
  top: 22%;
  left: 6%;
  max-width: 25%;
  cursor: pointer;
}

.imgh{
  height: 1.8rem;
  width: 1.8rem;
}

/*///////////////////////////////////////////////////////////////////////navbar////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////navbar////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////footer////////////////////////////////////////////////////////////// */
.footer{
  background-color: black;
  max-width: 100%;
  margin-top: 10%;
}
.row-pad-top{
  padding-top: 4%;
  margin-left: 0;
  margin-right: 0;
}

.imglogo{
  padding-left: 28%;
  padding-top: 5%;
  max-width: 65%;
}
.categories h6{
  color: white;
}

.info h6{
  color: white;
}
.list{
  list-style-type: none;
  padding-top: 5%;
  padding-left: 0;
}
.list li a{
  color: white;
  text-decoration: none;

}
.list li a:hover{
  color: #787878;
}

.follow-us h6{
  color: white;
}
.social a{
  color: white;
}
.social a i{
  padding-right: 2%;
  padding-top: 2%;
}
.social a i:hover{
  color: #787878;
}
.fcr{

  padding-top: 5%;
  margin-right: 12%;

}
.fcr h5{
  color: white;
  display: block;
  margin-left: 30%;
}
